body{
    background-color: rgba(3, 107, 3, 0.882);
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game{
    margin-top: 150px;
}
p, .card-el, .sum-el{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 0 50px;
    font-weight: 800;
    font-size: 25px;
}
h1{
    color: rgb(253, 253, 46);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    
}

h1 span{
    color: rgb(53, 32, 32);
}

button{
    padding: 10px 30px;
    display: block;
    margin: 30px auto;
    background-color: chocolate;
    color: white;
    border: 2px solid yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;

}

/* .new{
    background-color: blueviolet;
}

.new:hover{
    background-color: chocolate;
} */


button:active{
    background-color: blueviolet;
    border: 2px solid whitesmoke;
}

